.about-me-container img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%;
  filter: brightness(40%) blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.03);
}

.about-me-container {
  overflow: hidden;
  height: 100%; 
}

.about-me-container .about-me{
  color: white !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me h1{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
  font-size: 50px;
}