.intro-container {
  display: flex;
  background-image: url('https://cdn.pixabay.com/photo/2016/03/27/19/00/coffee-1283672_960_720.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-container:before{
  display: flex;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
}

.intro-container .intro-content{
  align-self: center;
  color: white !important;
  padding-top: 20px;
  margin-top: 40px;
}

.intro-content h1{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
  font-size: 50px;
}

.intro-container .btn {
  color: white;
  background-color: #ff0047;
  border-color: #ff0047;
  transition: 0.5s ease;
  width: 200px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.intro-content .btn span:after{
  font-size: 33px;
  margin-top: -17px;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.intro-container .btn:hover span {
  padding-right: 24px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.down-arrow-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -40px;
}

.down-arrow-link .fa-angle-down {
  color: white;
  transition: 0.1s ease;
}

.down-arrow-link .fa-angle-down:hover {
  color: rgb(212, 212, 212)
}

@media (max-width: 576px) {
  .intro-links {
    display: flex;
    flex-direction: column;
  }

  .intro-links .btn {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .down-arrow-link {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .intro-container .intro-content{
    padding-top: 0;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .intro-container .intro-content{
    padding-top: 0;
    margin-top: -16px;
  }
}