.project {
  margin-top: 60px;
  margin-bottom: 120px;
}

.project-img img{
  max-width:100%;
  max-height:100%;
}

.projects {
  text-align: center;
  margin-top: 60px;
}

hr {
  margin-bottom: 80px;
}