.side-panel {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.side-panel a {
  color: #444444 !important;
  font-size: 15px;
}

.side-panel-links {
  margin-left: 17px;
}

.side-panel-links div {
  margin: 15px 0;
}

.side-panel.open {
  transform: translateX(0)
}

.side-panel-logo {
  display: flex;
}

.side-panel-logo .info div{
  margin: 0;
}

.side-panel-logo .fa-code-branch {
  margin-right: 8px;
  color: #ff0047;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(48, 48, 48, 0.6);
  z-index: 100;
}

@media (min-width: 992px) {
  .side-panel.open, .backdrop, .fa-bars{
    display: none;
  }
}