html, body, #app, #root, header{
  height: 100%;
}

.projects, .about-me h1,  .technical-skills h6, .technical-skills h1, .project h3, .about-me h1{
  color: #444444;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
}

.project p, .about-me p{
  color: #444444;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}


@media (max-width: 767px) {
  html, body, #app, #root, .intro-container, header {
    min-height: 700px;
  }
  
  .intro-container:before{
    min-height: 700px;
  }
}